@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body {
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  text-align:center;
  --borderWidth: 3px;

  position: relative;
  border-radius: var(--borderWidth);
}

.button:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533,   #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease infinite;
  background-size: 400% 400%;
}







